<<<<<<< HEAD
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


:root{
    --font1: verdana , tahoma , sans-serif;
   --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html , body {
    min-width: 100vh;
    font-family: var(--font1);
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;
}
header > p {
    padding-bottom: 50px;
    
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

a:hover{
    text-decoration: underline;
    color: rgb(151, 150, 150);
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vh;
    

}

section > p {
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(48, 48, 48, 0.638);
    color: white;
    box-shadow: inset  6px 6px 13px 0px rgba(0, 0, 0, 0.419);
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.467);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 2px 0px  black;
}

section#img01{
    background-image: url('/imagens/background001.jpg');
    background-position: right center;
    
}



section#img02{
    background-image: url('/imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 13px;

=======
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


:root{
    --font1: verdana , tahoma , sans-serif;
   --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html , body {
    min-width: 100vh;
    font-family: var(--font1);
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;
}
header > p {
    padding-bottom: 50px;
    
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

a:hover{
    text-decoration: underline;
    color: rgb(151, 150, 150);
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vh;
    

}

section > p {
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(48, 48, 48, 0.638);
    color: white;
    box-shadow: inset  6px 6px 13px 0px rgba(0, 0, 0, 0.419);
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.467);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 2px 0px  black;
}

section#img01{
    background-image: url('/imagens/background001.jpg');
    background-position: right center;
    
}



section#img02{
    background-image: url('/imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;;

>>>>>>> ece56ef0de590b7ac2ed0b9a7d1667bfc819040a
}